if SHIELD_CUBEKEEB_RIGHT

config ZMK_KEYBOARD_NAME
    default "Cube Keeb"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CUBEKEEB_RIGHT || SHIELD_CUBEKEEB_LEFT

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y


endif
